/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
*{
	box-sizing:border-box;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* my css */
*::selection {
   background: transparent;
}
*::-moz-selection {
   background: transparent;
}
body{
	font-size: 18px;
	font-weight: 400;
	line-height: 1em;
	font-family: 'Roboto', sans-serif;
}
*{
	outline: none;
}
a{
	text-decoration: none;
}
.wrapper{
	width: 1170px;
	display: block;
	margin: 0 auto;
}

/* header style */
header{
	background: rgba(45,45,45,0.98);
	/* z-index: 5;
	position: relative; */
    position: fixed;
    width: 100%;
    z-index: 10000;
}
header .wrapper{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0;
	flex-wrap: wrap;
	position: relative;
}
header .wrapper nav ul{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
header .wrapper nav ul li a{
	padding-left: 20px;
	color: #fff;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	font-size: 14px;
	letter-spacing: 0.5px;
	font-weight: 300;
}
header .wrapper nav ul li a:hover{
	color: #cfcfcf;
}
.logo a {
	font-size: 24px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}
.logo a img{
	width: 21px;
	margin-top: -1px;
}
.mobile_menu{
	width: 25px;
	height: 25px;
	display: none;
}
.mobile_menu img{
	width: 100%;
}

/* intro_block */
.intro_block{
	padding-top: 40px;
	height: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
	/* background-image: linear-gradient(#8b9da9, #fff6e4);
	box-shadow: inset 0 0 100px hsla(0,0%,0%,.3); */
	background: url(../img/bg_5.jpg);
	background-size: cover;
	background-position: center;
	overflow:hidden;
	position: relative;
}
.intro_block > .wrapper{
	position: relative;
	z-index: 2;
}
.intro_block:after{
	content:"";
	background: ;
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f3904f+0,3b4371+100 */
background: rgb(243,144,79); /* Old browsers */
background: -moz-linear-gradient(left, rgba(243,144,79,1) 0%, rgba(59,67,113,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(243,144,79,1) 0%,rgba(59,67,113,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(243,144,79,1) 0%,rgba(59,67,113,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3904f', endColorstr='#3b4371',GradientType=1 ); /* IE6-9 */
	z-index: 1;
	opacity: 0.2;
}
.intro_block .about_me{
	opacity: 0;
	margin-bottom: -100%;
	margin-top: 100%;
	-webkit-transition: 2.5s;
	-o-transition: 2.5s;
	transition: 2.5s;
	display: flex;
	align-items: center;
	justify-content: center;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}
.intro_block .about_me.intro_img_visible{
	opacity: 1;
	margin-bottom: 0px;
	margin-top: 0;
}
.about_me h1{
	color: #fff;
	font-size: 66px;
	line-height: 70px;
	text-align: center;
	width: 100%;
	z-index: 1;
	position: relative;
	background: transparent;
}
.about_me p{
	display: inline-block;
	font-size: 24px;
	text-align: center;
    color: #7f7f7f;
    padding: 10px;
}

/* skills */
.skills.skills_1.skills_1_top{
	padding: 0;
	z-index: 2;
}
.skills.skills_1.skills_1_top .skills_1_block1{
	padding: 40px 0 20px 0;
}
.skills_1_ava{
	height: 280px;
	width: 280px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: -140px;
}
.skills_1_ava img{
	height: 100%;
	width: 100%;
	border-radius: 50%;
	background: #fff;
	-webkit-filter: grayscale(10%); /* Safari 6.0 - 9.0 */
	filter: grayscale(10%);
}
.skills{
	padding: 60px 0;
}
.skills_1{
	position: relative;
	padding-top: 0;
}
.skills_1_bg_img{
	position: absolute;
	bottom: -100px;
	left: 0px;
}
.skills_2_bg_img{
	position: absolute;
	bottom: -220px;
	right: -10px;
}
.skills_2_bg_img img{
	width: 345px;
	height: 695px;
}
.skills .wrapper{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	position: relative;
}
.skills_1_block1{
	padding: 40px 0 80px 0;
}
.skills_1_block1 p{
	line-height: 20px;
	font-size: 18px;
	color: #333;
	text-align: justify;
}
.skills_title{
	width: 100px;
}
.skills_title h2{
	font-size:36px;
	font-weight: bold;
	color: #333;
	text-align: center;
	display: block;
	position: relative;
	z-index: 10;
}
.skills_container{
	width: calc(100% - 120px);
	margin-top: -5px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.skills_container > div{
	width: calc(50% - 3px);
	height: 100%;
	color: #333;
	height: auto;
}
.skills_container > div div{
    margin: 0 ;
    background: rgba(236, 236, 236, 0.9);
    padding-bottom: 20px;
    border-radius: 4px;
    margin-bottom: 5px;
    padding: 50px;
    position: relative;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.skills_container > div div:hover{
	background: rgba(255, 255, 255, 0.9);
}
.skills_container > div div p{
	padding-bottom: 10px;
	color: #333;
	font-weight: 400;
	cursor: pointer;
}
.skills_container > div div:hover p ~ ul{
	list-style-type: circle; 
}
.skills_container > div div ul{
	margin-left: 20px;
	font-size: 14px;
	line-height: 24px;
	list-style-type: none; 
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.skills_container > div div ul:hover{
	list-style-type: circle;
}
.skills_container > div div ul li{
	font-weight: 300;
	color: #666;
	padding-bottom: 5px;
	cursor: pointer;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.skills_container > div div ul li a{
	color: #6bf;
	font-size: 16px;
}

/* my work */
.my_work_block{
	background: url(../img/accessories.jpg);
	background-size: cover;
	background-position: center;
	padding: 120px 0 120px 0;
    z-index: 5;
    border-radius: 4px;
    position: relative;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.my_work_block:after{
	content:"";
	background: ;
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f3904f+0,3b4371+100 */
background: rgb(243,144,79); /* Old browsers */
background: -moz-linear-gradient(left, rgba(243,144,79,1) 0%, rgba(59,67,113,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(243,144,79,1) 0%,rgba(59,67,113,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(243,144,79,1) 0%,rgba(59,67,113,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3904f', endColorstr='#3b4371',GradientType=1 ); /* IE6-9 */
	opacity: 0.2;
	z-index: 1;
}
.mywork{
	z-index: 2;
}
.mywork_title{
	width: 100%;
	height: auto;
}
.mywork_title h2{
    font-size: 36px;
    z-index: 10;
    position: relative;
    font-weight: bold;
    color: #333;
    text-align: right;
    display: block;
    padding: 30px 0;
}
.slick-slide{
	margin: 10px;
}
.slick-slide a{
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.slick-slide a.ios:after{
	content:"";
	width: 30px;
	height: 30px;
	position: absolute;
	display: block;
	top: calc(100% - 38px);
	left: calc(50% - 15px);
	background: url(../img/apple.png);
	background-size: cover;
	background-position: center;
	-webkit-filter: drop-shadow(0px 0px 3px #333);
    z-index: 5;
	filter: drop-shadow(0px 0px 3px #333);
}
.slick-slide a.android:after{
	content:"";
	width: 30px;
	height: 30px;
	position: absolute;
	display: block;
	top: calc(100% - 38px);
	left: calc(50% - 15px);
	background: url(../img/android.png);
	background-size: cover;
	background-position: center;
	-webkit-filter: drop-shadow(0px 0px 3px #333);
	filter: drop-shadow(0px 0px 3px #333);
}
.slick-slide a img{
	width: 100%;
	height: 100%;
	max-height: 150px; 
	margin: 20px 0;
	max-width: 150px; 
	border-radius: 30px;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	-webkit-filter: drop-shadow(-2px 2px 2px #777);
	filter: drop-shadow(-2px 2px 2px #777);
}
.slick-slide a:hover img{
	-webkit-filter: drop-shadow(-2px 2px 12px #333);
	filter: drop-shadow(-2px 2px 12px #333);
}
.skills_icon_block{
	margin-bottom: 60px;
	color: #fff;
}
.skills_icon_block_title{
	margin-top: 20px;
	text-align: right;
}
.skills_icon_block_title h2{
    font-size: 36px;
    z-index: 10;
    position: relative;
    font-weight: bold;
    color: #333;
    text-align: right;
    display: block;
    padding: 30px 0;
}
.skills_icon_block > .wrapper{
	padding: 40px 50px;
	background: url(../img/bg_3_blur.jpg); 
	background-size: cover;
	background-position: center;
	position: relative;
	border-radius: 4px;
	overflow: hidden;
}
.skills_icon_block > .wrapper:after{
	content:"";
	background: ;
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f3904f+0,3b4371+100 */
background: rgb(243,144,79); /* Old browsers */
background: -moz-linear-gradient(left, rgba(243,144,79,1) 0%, rgba(59,67,113,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(243,144,79,1) 0%,rgba(59,67,113,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(243,144,79,1) 0%,rgba(59,67,113,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3904f', endColorstr='#3b4371',GradientType=1 ); /* IE6-9 */
	opacity: 0.2;
	z-index: 1;
}
.skills_icon_block ul{
	display: flex;
	justify-content: space-between;
	align-self: center;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	position: relative;
	z-index: 2;
}
.skills_icon_block ul > li{
	width: calc((100% / 3) - 8px );
	padding: 10px;
	/* background: rgba(245,245,245,0.3); */
	display: flex;
	align-items: center;
	justify-content: center;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-bottom: 5px;
	margin-top: 5px;
	border-radius: 4px;
	position: relative;
	overflow: hidden;
}
/* .skills_icon_block ul > li:after{
	content:"";
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(236,236,236,9);
	filter: blur(100px);
	z-index: -1;
} */
.skills_icon_block ul > li svg{
	width: 150px;
	max-width: calc(100% - 10px);
	height: auto;
	-webkit-filter: drop-shadow(-2px 2px 2px #777);
	filter: drop-shadow(-2px 2px 2px #777);
}
.skills_icon_block ul > li img{
	width: 150px;
	max-width: calc(100% - 10px);
	height: auto;
	-webkit-filter: drop-shadow(-2px 2px 2px #777);
	filter: drop-shadow(-2px 2px 2px #777);
}
.skills_icon_block ul > li p{
	width: 100%;
	text-align: center;
	padding-top: 10px;
}
.prevArrow_c img{
	transform: rotate(180deg);
}
.prevArrow_c img,
.nextArrow_c img{
	height: 30px;
	width: 30px;
}
.prevArrow_c{
	position: absolute;
	top: calc(50% - 15px); 
	left: -40px;
	z-index: 2;
	cursor: pointer;
}
.nextArrow_c{
	position: absolute;
	top: calc(50% - 15px); 
	right: -40px;
	z-index: 2;
	cursor: pointer;
}

/* footer */
footer{
	background: rgba(45,45,45,0.98);
	z-index: 3;
	position: relative;
}
footer > .wrapper{
	padding: 20px 0;
}
.social{
	width: 150px;
	display: block;
	margin: 0 auto;
}
.social > ul{
	display: flex;
	justify-content: center;
	align-items: center;
}
.social > ul > li > a{
	padding: 50px;
	width: 100%;
	height: 130px;
	display: block;
    text-align: center;
}
.social > ul > li > a > svg{
	width: 30px;
	height: 30px;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	stroke: #ffffff !important;
	fill: #ffffff !important;
}
.social > ul > li > a > svg:hover{
	stroke: #cfcfcf !important;
	fill: #cfcfcf !important;
}
.cop_rul{
	color: #fff;
	text-align: center;
	margin-top: 60px;
	font-size: 12px;
}


/* media */
@media screen and (min-width: 992px) and (max-width: 1200px) {
	.wrapper{
		width: 970px;
	}
	.skills_2_bg_img{
		bottom: -180px;
	}
	.prevArrow_c{
		left: -30px;
	}
	.nextArrow_c{
		right: -30px;
	}
}
@media screen and (min-width: 768px) and (max-width: 991px) {  
	.wrapper{
		width: 720px;
	}
	.mywork_title h2{
		text-align: center;
	}
	.mywork_title{
		margin-top: 50px;
	}
	.skills_1_bg_img{
		bottom: -120px;
		left: -100px;
	}
	.skills_2_bg_img{
		bottom: -180px;
		right: -70px;
	}
	.prevArrow_c{
		left: 10px;
	}
	.nextArrow_c{
		right: 10px;
	}


	/* mobile menu */ 
	.mobile_menu{
		display: block;
	}
	header nav{
	    width: 100vw;
	    position: absolute;
	    top: 100%;
	    left: calc( (-50vw + 360px)  );
	    background: rgba(45,45,45,0.98);
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    z-index: 20;
	    height: 0;
	    -webkit-transition: 0.6s;
	    -o-transition: 0.6s;
	    transition: 0.6s;
	    overflow:hidden;
	}
	header nav ul{
		opacity: 0;
		-webkit-transition: 0.3s;
		-o-transition: 0.3s;
		transition: 0.3s;
	}
	header nav.mobile_menu_active > ul{
		margin-top: -45px;
	}
	header nav.mobile_menu_active ul{
		opacity: 1;
	}
	header nav.mobile_menu_active{
		height: calc(100vh - 45px);
	}
	header nav li{
		width: 100%;
		text-align: center;
	}
	header .wrapper nav ul li a{
		padding-left: 0;
		padding: 20px 0;
		display: block;
		font-size: 24px;
	}
	/* mobile menu end */ 
	.skills_container > div div{
		padding: 20px;
	}

}
@media screen and (min-width: 576px) and (max-width: 767px) {  
	.wrapper{
		width: calc(100% - 40px);
	}
	.skills_title{
		width: 100%;
	    padding: 30px 0 30px 0;
	}
	.skills_container{
		width: 100%;
		border-left: 0;
	}
	.about_me h1{
		font-size: 50px;
    	line-height: 50px;
	}
	.intro_block{
		height: 400px;
	}
	.skills_1_ava{
	    height: 240px;
	    width: 240px;
	    margin-top: -120px;
	}
	.skills_container > div{
		border-right: 0;
	}
	.skills_container_2{
		order: 2;
	}
	.skills_container{
		order: 2;
	}
	.skills_title{
		order: 1;
	}
	
	.intro_block{
		height: 500px;
	}
	
	.skills_container > div div{
		padding: 30px;
	}
	.mywork_title{
		margin-top: 50px;
	}
	.skills_1_bg_img{
		bottom: -50px;
		left: calc(100% - 200px);
	}
	.skills_2_bg_img{
		bottom: -130px;
		right: -120px;
	}

	.prevArrow_c{
		left: 10px;
	}
	.nextArrow_c{
		right: 10px;
	}
	/* mobile menu */ 
	.mobile_menu{
		display: block;
	}
	header nav{
	    width: 100vw;
	    position: absolute;
	    top: 100%;
        left: -20px;
	    background: rgba(45,45,45,0.98);
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    z-index: 20;
	    height: 0;
	    -webkit-transition: 0.6s;
	    -o-transition: 0.6s;
	    transition: 0.6s;
	    overflow:hidden;
	}
	header nav ul{
		opacity: 0;
		-webkit-transition: 0.3s;
		-o-transition: 0.3s;
		transition: 0.3s;
	}
	header nav.mobile_menu_active > ul{
		margin-top: -45px;
	}
	header nav.mobile_menu_active ul{
		opacity: 1;
	}
	header nav.mobile_menu_active{
		height: calc(100vh - 45px);
	}
	header nav li{
		width: 100%;
		text-align: center;
	}
	header .wrapper nav ul li a{
		padding-left: 0;
		padding: 20px 0;
		display: block;
		font-size: 24px;
	}
	.my_work_block{
		padding: 60px 0 60px 0;
	}
	.mywork_title h2,
	.skills_icon_block_title h2{
		text-align: center;
	}

	/* mobile menu end */ 
	.social > ul > li > a{
		padding: 50px 5px;
	}
}
@media screen and (max-width: 575px) {
	.wrapper{
		width: calc(100% - 40px);
	}
	.skills_title{
		width: 100%;
	    padding: 30px 0 30px 0;
	}
	.skills_container{
		width: 100%;
		border-left: 0;
	}
	.skills_container > div{
		border-right: 0;
		border-left: 0;
	}
	.skills_container_2{
		order: 2;
	}
	.skills_container{
		order: 2;
	}
	.skills_title{
		order: 1;
	}
	
	.skills_container > div{
		width: 100%;
	}
	.about_me h1{
		font-size: 36px;
		line-height: 40px;
	}
	.intro_block{
		height: 400px;
	}
	.skills_1_ava{
	    height: 200px;
	    width: 200px;
	    margin-top: -100px;
	}
	
	
	.skills {
    	padding: 20px 0;
	}
	.mywork_title{
		margin-top: 0px;
	}
	.skills_1_bg_img{
		top: 545px;
		left: -100px;
	}
	.skills_2_bg_img{
		top: 130px;
		right: -120px;
	}

	.prevArrow_c{
		left: 10px;
	}
	.nextArrow_c{
		right: 10px;
	}
	/* mobile menu */ 
	.mobile_menu{
		display: block;
	}
	header nav{
	    width: 100vw;
	    position: absolute;
	    top: 100%;
        left: -20px;
	    background: rgba(45,45,45,0.98);
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    z-index: 20;
	    height: 0;
	    -webkit-transition: 0.6s;
	    -o-transition: 0.6s;
	    transition: 0.6s;
	    overflow:hidden;
	}
	header nav ul{
		opacity: 0;
		-webkit-transition: 0.3s;
		-o-transition: 0.3s;
		transition: 0.3s;
	}
	header nav.mobile_menu_active > ul{
		margin-top: -45px;
	}
	header nav.mobile_menu_active ul{
		opacity: 1;
	}
	header nav.mobile_menu_active{
		height: calc(100vh - 45px);
	}
	header nav li{
		width: 100%;
		text-align: center;
	}
	header .wrapper nav ul li a{
		padding-left: 0;
		padding: 20px 0;
		display: block;
		font-size: 24px;
	}
	/* mobile menu end */ 
	
	.skills_container > div div{
		padding: 20px;
	}
	.my_work_block{
		padding: 60px 0 60px 0;
	}
	.mywork_title h2,
	.skills_icon_block_title h2{
		text-align: center;
	}
	.skills_icon_block ul > li svg{
		width: 80px;
		max-width: 80px;
		height: auto;
	}
	.skills_icon_block ul > li img{
		width: 80px;
		max-width: 80px;
		height: auto;
	}
	.skills_icon_block ul > li{
		width: calc((100% / 2) - 6px );
		padding: 10px;
	}
	.social > ul > li > a{
		padding: 50px 5px;
	}
}

html,body{
	overflow-x: hidden !important;
	width: 100vw !important;
	max-width: 100vw !important;
	min-width: 100vw !important;
}

/* blog page */
.all_post_block{
	width: 100%;
	display: block;
	padding-top: 80px;
	padding-bottom: 40px;
	position: relative;
}
.all_post_block > .wrapper{
	display: flex;
	align-items: stretch;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}
.blog_post{
	position: relative;
	display: block;
	margin-bottom: 10px;
}
/* type of post small(1/3) medium(2/3) large (3/3)*/
.blog_post_1_3{
	width: calc(100% / 3);
}
.blog_post_3_3{
	width: 100% ;
}

.bp_txt{
	margin: 5px;
	position: relative;
	z-index: 2;
	padding: 30px;
	height: 100%;
	color: #333;
	border-radius: 4px;
	background: rgba(236, 236, 236, 0.9);
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}
.bp_txt:hover{
	background: rgba(255, 255, 255, 0.9);
}

.bp_txt h4{
	padding-bottom: 10px;
	font-size: 18px;
}
.bp_txt p{
	font-size: 14px;
}

.img_1{
	position: absolute;
	top: 0;
	right: 0;
	max-width:600px;
	max-height:600px;
}
.img_2{
	position: absolute;
	bottom: 100px;
	left: 0;
	max-width:500px;
	max-height:500px;
}
.img_1 img,
.img_2 img{
	max-width: 100%;
	max-height: 100%;
}

.filter_post{
	width: 100%;
	margin-bottom: 20px;
}
.filter_post ul{
	display: flex;
	align-items: center;
	z-index: 1;
	position: relative;
	margin-left: 5px;
}
.filter_post > ul > li{
	margin-right: 10px;
	cursor: pointer;
	padding: 5px 10px;
	border-radius: 4px;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	color: #333;
	background: rgba(236, 236, 236, 0.9);
	font-size: 14px;
}
.filter_post > ul > li:hover{
	background: #333;
	color: #fff;
}
.filter_post > ul > li.active_tabs{
	background: #333;
	color: #fff;
}
.all_post_block > .wrapper > a{
	display: none;
}
.all_post_block > .wrapper > a.active_post{
	display: block;
}

@media screen and (min-width: 992px) and (max-width: 1200px) {

}

@media screen and (min-width: 768px) and (max-width: 991px) {  
.img_1{
	max-width:500px;
	max-height:500px;
}
.img_2{
	bottom: 0;
	max-width:400px;
	max-height:400px;
}
}

@media screen and (min-width: 576px) and (max-width: 767px) {
.blog_post_1_3,
.blog_post_3_3{
	width: 100%;
}
.img_1{
	max-width:300px;
	max-height:300px;
}
.img_2{
	bottom: 0;
	max-width:250px;
	max-height:250px;
}

}

@media screen and (max-width: 575px) {
.blog_post_1_3,
.blog_post_3_3{
	width: 100%;
}
.img_1{
	max-width:300px;
	max-height:300px;
}
.img_2{
	bottom: 0;
	max-width:250px;
	max-height:250px;
}

}

/* post */
.post_title{
	font-size: 18px;
	margin-bottom: 10px;
}
.post_img{
	width: 100%;
	margin-bottom: 10px;
}
.post_img > img{
	width: 100%;
	max-height: 500px;
	object-fit: cover;
	object-position: center;
}
.post_text{
	width: 80%;
	min-width: 280px;
	display: block;
	margin: 0 auto;
}
.post_text p{
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 18px;
}
.post_text_img{
	margin-bottom: 10px;
	width: 100%;
}
.post_text_img img{
	width: 100%;
	max-height: 400px;
	object-fit: cover;
	object-position: center;
}
.post_text h5{
	margin-bottom: 10px;
}
.post_text a{
	color: #6bf;
}

.download_cv{
	position: fixed;
	right: 20px;
	bottom: 20px;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background: rgba(45,45,45,0.98);
	z-index: 999;
}
.download_cv img{
	width: 20px;
}


*{
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none; 
}

::-webkit-scrollbar { 
    display: none; 
}
